body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.primaryColor {
  background-color: #e65100 !important;
}
.secondaryColor {
  background-color: #ef6c00 !important;
}

.navLinkIcon {
  width: 20px;
  height: 20px;
}

.rightNav {
}
