body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.primaryColor {
  color: #000000;
}
.secondaryColor {
  color: rgb(221, 144, 0);
}

.navLinkIcon {
  width: 20px;
  height: 20px;
}
