:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --primary-color: #332a1f;
  --secondary-color: #433728;
}

.goldStars {
  color: #ffd700;
}

mainpage-scrollspy {
  position: fixed !important;
  top: 40px !important;
  right: 0px !important;
}

.sideProjects {
  color: black;
}

/* Make input text field gray */
.numeronym-input {
  max-width: 40%;
}

.application-header {
  position: fixed;
  width: 100%;
}

.bodyArea {
  margin-top: 50px;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  transition: background-color 0.3s ease, color 0.3s ease;
}

main {
  flex: 1 0 auto;
}

.primaryColor {
  background-color: var(--primary-color) !important;
  transition: background-color 0.3s ease;
}
.secondaryColor {
  background-color: var(--secondary-color) !important;
  transition: background-color 0.3s ease;
}

.navLinkIcon {
  width: 25px;
  height: 25px;
  margin-top: 18px;
  transition: transform 0.2s ease-in-out;
}

.navLinkIcon:hover {
  transform: scale(1.8);
}

.brand-logo {
  transition: transform 0.2s ease-in-out;
}

.brand-logo:hover {
  transform: scale(1.2);
}

.construction {
  width: 20%;
  min-width: 120px !important;
  max-width: 200px !important;
}

#profilePicture {
  transition: transform 3s ease-in-out; /* Smooth scaling transition */
}

#profilePicture:hover {
  transform: scale(1.8); /* Scale the image by 30% on hover */
  transition: transform 0.5s ease-in, transform 3s ease-out; /* Smooth scaling transition */
}

.contactlink {
  color: black;
  font-weight: 500;
  font-size: large;
}

#headerName {
  margin-left: 20px;
}

.switch label input[type="checkbox"]:checked + .lever {
  background-color: #5c5c5c !important;
}

.switch label input[type="checkbox"]:checked + .lever:after {
  background-color: rgb(29, 29, 29);
}

.tap-target {
  background-color: #4747479f;
}

.tap-target-wave {
  background-color: #5c1b1b77;
}

.tap-target-wave::before,
.tap-target-wave::after {
  background-color: #e9e9e977;
}
