.goldStars {
  color: #ffd700;
}

.application-header {
  position: fixed;
  width: 100%;
}

.bodyArea {
  margin-top: 50px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.primaryColor {
  background-color: #332a1f !important;
}
.secondaryColor {
  background-color: #433728 !important;
}

.navLinkIcon {
  width: 25px;
  height: 25px;
}

.construction {
  width: 20%;
  min-width: 120px !important;
  max-width: 200px !important;
}

.mainImage {
  max-width: 80% !important;
}

#profilePicture {
  display: absolute;
  margin-top: 10px;
  margin-left: 10px;
}

.contactlink {
  color: black;
  font-weight: 500;
  font-size: large;
}

#headerName {
  margin-left: 20px;
}
